
  <h2> Adding New Book</h2>

<%= form_for @book do |b| %>
    <p>
      <%= b.label :BookName %><br>
      <%= b.text_field :name %>
    </p>

    <p>
      <%= b.label :ISBN %><br>
      <%= b.text_field :ISBN %>
    </p>
    <p>
      <%= b.label :Description %><br>
      <%= b.text_area :description %>
    </p>

    <p>
      <%= b.label :Summary %><br>
      <%= b.text_area :summary %>
    </p>

      <p>
        <%= b.select :category_id, @categories %>
      </p>

      <p>
        <%= b.label :PublishedAt %><br>
        <%= b.date_select :published_at %>
      </p>

     <p>
       <%= b.submit :Save %>
     </p>
<% end %>

  <%= link_to "Go Books", books_path%>