<h1>Books</h1><br>

<% @books.each do |b|%>
    Name: <%= b.name%><br>
    ISBN: <%= b.ISBN%><br>
    Description: <%= b.description%><br>
    Summary: <%= b.summary%><br>
    <%= link_to "Delete", book_path(b), method: :delete %><br><br>


<% end %>