<b>Book Name:</b><td><%= @book.name%></td><br>
<b>ISBN:</b><td><%= @book.ISBN%></td><br>
<b>Description:</b><td><%= @book.description%></td><br>
<b>Summary:</b><td><%= @book.summary%></td><br>
<b>Publish Date:</b><td><%= @book.published_at%></td><br>



<%= render 'comments/form'%>

<%= link_to "Go Books", books_path %>

