
<div class="row">

	<div class="col-md-3">
		<p class="round-image-100"><%= image_tag(@book.book_image.url(:medium)) %></p>
	</div>
	<div class="col-md-9">
		<b>Book Name:</b><td><%= @book.name%></td><br>
		<b>ISBN:</b><td><%= @book.ISBN%></td><br>
		<b>Description:</b><td><%= @book.description%></td><br>
		<b>Publish Date:</b><td><%= @book.published_at%></td><br>
		<b>Summary:</b><td><%= @book.summary%></td><br>
	</div>
	<%= link_to "Go Books", books_path %>
</div>
