<h4>Sign up</h4>
<div role="form" style="color:black" class="xx" >
<%= form_for(User.new, as: :users, url: user_registration_path) do |f| %>
  <div class="form-group" >
    <%= f.label :email %><br />
    <%= f.email_field :email,class:'form-control', autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password,class:'form-control', autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation,class:'form-control', autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:'btn btn-primary' %>
  </div>

</div>
<% end %>